body{
    background: pink;
    font-family: monospace;
    transition: all 2s;
}

form{
    background: #fff;
    padding: 20px;
    border-style: outset;
}
.ninja {
    padding: 10px;
}